.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}
.hometext{
  text-align:center;
  padding-top:50px;
  padding-left:80px;
  padding-right:80px;
}
.h3_text-muted{
  text-align:center;
  padding-top:50px;
  padding-left:80px;
  padding-right:80px;
  color:grey;
}
.plotly{
  width:200px;
  height:200px;
  display: block;
  padding-top:20px;
  margin-left: auto;
  margin-right: auto;
}
.navbar{
  font-size:20px
}
